<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@model Team7ADProjectMVC.Models.Adjustment

@{
    ViewBag.Title = "Create";
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Inventory Adjustment";
}

<h2>Create New</h2>
<hr />

@using Team7ADProjectMVC.Extensions
@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div id="main" class="panel panel-primary">

            <div class="panel-heading"> <h3 class="panel-title">Adjustment Builder</h3></div>
            <div class="panel-body">

                <fieldset>
                    @Html.LabelFor(model => model.AdjustmentDate)
                    @Html.EditorFor(model => model.AdjustmentDate)

                    @Html.LabelFor(model => model.Status)
                    @Html.EditorFor(model => model.Status)

                </fieldset>

            </div>
        </div>

    </div>


        <h3>Adjustment</h3>
        @Html.EditorFor(x => x)
        <input type="button" id="add-detail" value="Add" />
        <h3>Adjustment Detail</h3>
        <div id="detail-list">
            @Html.EditorForMany(x => x.Details, x => x.Index)
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<script>
    jQuery(document).ready(function ($) {
        $('#add-detail').on('click', function () {
            jQuery.get('/Adjustments/AddDetail').done(function (html) {
                $('#detail-list').append(html);
            });
        });
    });
</script>
