@model Team7ADProjectMVC.Adjustment

@{
    ViewBag.Title = "Details";
    Layout = "~/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Adjustment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdjustmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorAuthorizedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorAuthorizedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadAuthorizedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadAuthorizedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdjustmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
