@model IEnumerable<Team7ADProjectMVC.Adjustment>

@{
    ViewBag.Title = "ww";
    Layout = "~/_Layout1.cshtml";
}

<h2>ww</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdjustmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorAuthorizedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeadAuthorizedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdjustmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorAuthorizedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadAuthorizedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdjustmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdjustmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdjustmentId })
        </td>
    </tr>
}

</table>
