@model IEnumerable<Team7ADProjectMVC.PurchaseOrder>
@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Purchase Order Summary";
    ProjectEntities db = new ProjectEntities();
    string supplier = null;
    string employee = null;
    string approvedBy = null;
    string printLine = null;
}


<div class="row jumbotron">
    <form class="form" role="form" action="SearchPurchaseOrderSummary" method="get">
        <div class="form-group">
            <div class="col-lg-2">
                <select id="searchByStatus" name="orderStatus"
                        class="selectpicker show-tick form-control"
                        data-live-search="true" title="Order Status">
                    <option>Received</option>
                    <option>Pending</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-3">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder="Date Ordered"  name="dateOrderedString"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-3">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" placeholder="Date Approved" name="dateApprovedString" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default" type="submit">
                Search
            </button>
        </div>
    </form>
</div>
<div>
    <br />
</div>
@if (ViewBag.ResultCount != null)
{
    if (ViewBag.ResultCount == 0)
    {  <h5> Your search returned @ViewBag.ResultCount result(s). Showing all results.</h5>}
    else {
    <h5>Your search returned @ViewBag.ResultCount result(s). </h5>}

}

<table class="table">
    <thead>
        <tr>
            <th>
                PO Number
            </th>
            <th>
                Supplier Code
            </th>
            <th>
                Ordered By / Date
            </th>
            <th>
                Approved By / Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="clickable-row" data-href="PurchaseOrder/@item.PurchaseOrderId">
            <td>
                @item.PurchaseOrderId
            </td>
            <td>
                @{supplier = db.Suppliers.Find(item.SupplierId).SupplierName;}
                @supplier
            </td>
            <td>
                @if (item.EmployeeId != null)
                {
                employee = db.Employees.Find(item.EmployeeId).EmployeeName;
                }
                @employee / @item.OrderDate.Value.ToString("dd MMM yyyy")
            </td>
            <td>
                @if (item.AuthorizedBy != null)
                {
                    approvedBy = db.Employees.Find(item.EmployeeId).EmployeeName;
                    printLine = approvedBy + " / " + item.AuthorizedDate.Value.ToString("dd MMM yyyy");
                } else
                {
                    printLine = @item.OrderStatus;
                }
                @printLine
            </td>
        </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({ format: 'DD/MM/YYYY' });

            $('#datetimepicker2').datetimepicker({ format: 'DD/MM/YYYY' });
        });

    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });

</script>