@{
    ViewBag.Title = "RptOptions";
    Layout = "~/_Layout1.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2>Generate Reports</h2>
    <div class="form-horizontal">
        <h4>Item Consumption By Departments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-md-2">
                <label for="DepartmentId">Department</label>
            </div>
            <div class="col-md-10">
                @foreach (var item in ViewBag.Departments)
                {
                    <input type="checkbox" name="Departments" value="@item.DepartmentName">@item.DepartmentName <br>
                }
            </div>
        </div>



        <div class="form-group">
            <div class="control-label col-md-2">
                <label for="Categories">Categories</label>
            </div>
            <div class="col-md-10">
                <select id="Categories" name="Categories"
                        class="selectpicker show-tick form-control"
                        data-live-search="true" required>
                    <option></option>
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option data-subtext="">@item.CategoryName</option>
                    }
                </select>
            </div>
        </div>

         <div class="form-group">
             <div class="control-label col-md-2">
                 <label for="period">Period</label>
             </div>
                 <div class="col-md-10" name="period" id="period">
                     <div class="col-md-4">
                         
                         <div class="control-label col-md-5">
                             <label for="Year">Year</label>
                         </div>
                         <div class="col-md-5">

                             <select class="form-control" id="Year" name="Year" required>
                                 <option> </option>
                                 @for (int q = 0; q < @ViewBag.Years.Count; q++)
                                 {
                                     <option>@ViewBag.Years[q]</option>
                                 }
                             </select>
                         </div>



                         <div class="control-label col-md-5">
                             <label for="Month">Month</label>
                         </div>
                         <div class="col-md-5">

                             <select class="form-control" id="Month" name="Month" required>
                                 <option> </option>
                                 @foreach (var item in ViewBag.Months)
                                 {
                                     <option>@item</option>
                                 }
                             </select>
                         </div>

                     </div>

                 
                     <div class="col-md-4">
                         
                             <div class="control-label col-md-5">
                                 <label for="Year2">Year</label>
                             </div>
                             <div class="col-md-5">
                                 
                                 <select class="form-control" id="Year2" name="Year2">
                                     <option> </option>
                                     @for(int q=0; q<@ViewBag.Years.Count;q++)
                                    {  
                                         <option>@ViewBag.Years[q]</option>
                                     }
                                 </select>
                             </div>
                         

                         
                             <div class="control-label col-md-5">
                                 <label for="Month2">Month</label>
                             </div>
                             <div class="col-md-5">
                                 
                                 <select class="form-control" id="Month2" name="Month2">
                                     <option> </option>
                                     @foreach (var item in ViewBag.Months)
                                    {
                                         <option>@item</option>
                                     }
                                 </select>
                             </div>
                  
                     </div>

                     <div class="col-md-4">

                         <div class="control-label col-md-5">
                             <label for="Year3">Year</label>
                         </div>
                         <div class="col-md-5">

                             <select class="form-control" id="Year3" name="Year3">
                                 <option> </option>
                                 @for (int q = 0; q < @ViewBag.Years.Count; q++)
                                 {
                                     <option>@ViewBag.Years[q]</option>
                                 }
                             </select>
                         </div>



                         <div class="control-label col-md-5">
                             <label for="Month3">Month</label>
                         </div>
                         <div class="col-md-5">

                             <select class="form-control" id="Month3" name="Month3">
                                 <option> </option>
                                 @foreach (var item in ViewBag.Months)
                                 {
                                     <option>@item</option>
                                 }
                             </select>
                         </div>




                     </div>

                 
                     </div>
             
             </div>






        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Generate Report" class="btn btn-default" />
        </div>
    </div>
    </div>

}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
