@model Team7ADProjectMVC.Inventory

@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "View Stock Card - " + @ViewBag.inv.ItemNo + " " + @ViewBag.inv.Description;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"><label>Category</label></div><div class="col-lg-1">@Html.DisplayFor(model => model.Category.CategoryName)</div>
    </div>
    <div class="row">
        <div class="col-lg-2"><label>Bin No.</label></div><div class="col-lg-1">@Html.DisplayFor(model => model.BinNo)</div>
    </div>
    <div class="row">
        <div class="col-lg-2"><label>Unit of Measure</label></div><div class="col-lg-1">@Html.DisplayFor(model => model.Measurement.UnitOfMeasurement)</div>
    </div>



    <div>
        <h3>Stock Movements</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        Supplier - BANE
                    </td>
                    <td>
                        +500
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        2
                    </td>
                    <td>
                        02/04/2012
                    </td>
                    <td>
                        Zoology
                    </td>
                    <td>
                        -200
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <center>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </center>
</div>
