@model Team7ADProjectMVC.AdjustmentDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AdjustmentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdjustmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdjustmentDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
