@model Team7ADProjectMVC.Requisition
@{
    Page.Title = "Make Requisition";
    Layout = "~/Views/Shared/_LayoutD.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        @*<form role="form">*@
                        <div class="form-group">
                            <div class="page-header">


                                Department:  @Html.DisplayFor(model => model.Employee.Department.DepartmentName)

                                Employee Name:  @Html.DisplayFor(model => model.Employee.EmployeeName)


                                <div>
                                    <span>OrderedDate:</span> <span id="demo">@ViewBag.time</span>
                                    
                                    <script>
                                        var d = new Date();
                                        
                                        document.getElementById("demo").innerHTML = $.date(d);

                                       

                                    </script>
                                </div>
                            </div>
                        </div>

                        @*@Html.TextBox("StudentName", null, new { @class = "form-control" })*@



                        <div class="form-group">

                            <label for="exampleInputPassword1">
                                item option:
                            </label>

                            @*<select class="input-lg" name="PrerequisiteMembershipId" id="PrerequisiteMembershipId">
                                    <option value="" style="color:#ccc !important;"> Please select the membership name to be searched for </option>
                                    @foreach (var item in ViewBag.MembershipList.Items)
                                    {
                                        <option value="@item.Id" @(Model.RequisitionDetails. == item.Id ? "selected" : "")>@item.Name</option>
                                    }
                                </select>*@


                            <select id="lecturerId" name="lecturerId"
                                    class="selectpicker show-tick form-control"
                                    data-live-search="true" required>
                                <optgroup label="all">

                                    @foreach (var item in ViewBag.MembershipList)
                                    {
                                        <option data-subtext="all">@item.Description</option>
                                    }
                                </optgroup>

                                <optgroup label="clips">
                                    @foreach (var item in ViewBag.clips)
                                    {
                                        <option data-subtext="clip">@item.Description</option>
                                    }
                                </optgroup>
                            </select>

                        </div>
                        <div class="form-group">

                            <label for="exampleInputPassword1">
                                Quantity:
                            </label>
                            <input type="number" value="0" min="1" max="500" class="form-control" id="QTY" required/>
                            
                           
                        </div>
                        <div class="form-group">

                            <button type="button" class="btn btn-default" id="addNew">
                                Add items to requistion list>>>
                            </button>


                        </div>


                        @*</form>*@


                    </div>





                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                NEWS
                            </div>
                            <div class="panel-body">
                                <p>Mun Kew received his PhD from Stanford University. He has more than 25 years of R&D and commercial experience in IT. He was Chair and Editor of the ISO/JTC1/WG2/24800 JPSearch international standard, editor or past editor of the Journal of Information Retrieval, Information Processing and Management Journal, member of the advisory board for the School of IIT at Temasek Polytechnic, the IRAL and AIRS symposium series, and formerly Adjunct Assoc. Prof at the National Institute of Education.</p>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-md-4">
                    <table class="table col-md-4" id="taskTable">
                        <thead>

                            <tr>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Quantity
                                </th>
                                @*<th>
                                        Outstanding Quantity
                                    </th>*@
                                @*<th>
                                        Delivery Status
                                    </th>*@
                            </tr>


                        </thead>
                        <tbody>

                            @*@foreach (var item in ViewBag.rel)
                                {
                                    <tr>
                                        <td>
                                            @item.ItemNo
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        @*<td>
                                            @item.OutstandingQuantity
                                        </td>
                                        <td>
                                            @item.DeliveryStatus
                                        </td>

                                    </tr>
                                }*@

                        </tbody>


                    </table>
                </div>
            </div>

            <button id="cl" type="submit" class="btn btn-default" >
                Submit
            </button>
        </div>

    </div>

}

@*</form>*@




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $.date = function (dateObject) {
        var d = new Date(dateObject);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var date = day + "/" + month + "/" + year;

        return date;
    };

    ////////////////////////////validate for number
    //function validate(evt) {
    //    var theEvent = evt || window.event;
    //    var key = theEvent.keyCode || theEvent.which;
    //    key = String.fromCharCode(key);
    //    var regex = /[0-9]|\./;
    //    if (!regex.test(key)) {
    //        theEvent.returnValue = false;
    //        if (theEvent.preventDefault) theEvent.preventDefault();
    //    }
    //}


    //validate
    $('#addNew').on('click', function () {
        var value = $('#QTY').text();


        return $.isNumeric(value);
    });



////////ok///////////////////////
    var da = $('#demo').val();
    var TableData = new Array();
    var myObject = new Object();
    myObject.dname = "Science";
    myObject.ename = "joe";
    myObject.date = da;

    //json = myObjectd.toJSONString();
    //alert(json);
    //var json = JSON.stringify(myObject);
    //alert(json);//////////////show the big json for debug

    var myObjt = {};
//////////////////////////////////////

    var data = {
        items: [
           // <== The new item

        ]
    };
   // alert(data.items);





$(document).ready(function(){
    // Add button click event




  $("#addNew").click(function(){

      //var value = $('#QTY').text();

      var value = $('input[type = number]').val();

      alert("please choose a quantity" + value);
      if (value==null||value==0) {
          alert("please choose a quantity" + value);
          return false;
      } else {
          addNewRow();
      }
     

     



      ///////////////////////////
      TableData = new Array();

      $('#taskTable tr').each(function (row, tr) {
          TableData[row] = {
              "Item": $(tr).find('td:eq(0)').text()
            , "Quantity": $(tr).find('td:eq(1)').children().val()

          }
      });
      TableData.shift();
      TableData = $.toJSON(TableData);
      TableData = $.makeArray(TableData);
      ///////////////////////////


      //var myRows = [];
      //var $headers = $("th");
      //var $rows = $("tbody tr").each(function (index) {
      //    $cells = $(this).find(".hihi");
      //    myRows[index] = {};
      //    $cells.each(function (cellIndex) {


      //        if ($(this).html() == "" && $(this).html() != 'Delete') {

      //            myRows[index][$($headers[cellIndex]).html()] = $(this).val();

      //        } else { myRows[index][$($headers[cellIndex]).html()] = $(this).html(); }




      //    });
      //});

      //items = [];

      //myObjt.myrows = myRows;

      //myRows.forEach(function (item,index) {


      //    $(item).html();
          


      //});

      //myObjt.myrows = myRows;
      //console.log(myObjt);

      var option = $('#lecturerId').val();
      var qty = $('#QTY').val();


  });

});


// Add a new row when Add Task button is clicked
function addNewRow() {

    var value = $('input[type = number]').val();


    //var value = $('#QTY').text();
    //alert("please choose a quantity" + value);


    var qty = $('#QTY').val();
    var option = $('#lecturerId').val();
    ///////////////////////////////////////
    var numRows = $('#taskTable tr').length;
    $('#taskTable').append('<tr id="myTableRow">\
           <td class="hihi" value="' + option + '">' + option + '</td>\
           <td><input type="number" id="description-' + numRows + '" class="hihi" placeholder="Task Description" value="' + parseInt(value) + '" required min="1" max="500"/></td>\
           <td><button type="button" id="' + numRows + '" class="removebutton" title="Remove this row">Delete</button></td>\
           </tr>\
   ');



}

    ///////////////////////////////////////////////////////////

$(document).on('click', 'button.removebutton', function () {

    var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
    alert('you clicked on button #' + clickedBtnID);
    //var item = { id: 45, option: option, qty: qty };
    //data.items.pop(this.Object);

    //data.items.forEach(function (item, index) {


    parseInt("10")
    alert('you clicked on button #' +  $(this).toArray());
    var index =parseInt(clickedBtnID)-1 ;
    alert(index);
    //});


    if (index > -1) {
        data.items.splice(index, 1);
    }

    data.items.forEach(function (item, index) {
        console.log(item);
    });


    $(this).closest('tr').remove();



    ///////////////////////////
    TableData = new Array();

    $('#taskTable tr').each(function (row, tr) {
        TableData[row] = {
            "Item": $(tr).find('td:eq(0)').text()
            , "Quantity": $(tr).find('td:eq(1)').children().val()
            
        }
    });
    TableData.shift();
    TableData = $.toJSON(TableData);
    TableData = $.makeArray(TableData);
    ///////////////////////////




    //var myRows = [];
    //var $headers = $("th");
    //var $rows = $("tbody tr").each(function (index) {
    //    $cells = $(this).find(".hihi");
    //    myRows[index] = {};
    //    $cells.each(function (cellIndex) {


    //        if ($(this).html() == "" && $(this).html() != 'Delete') {

    //            myRows[index][$($headers[cellIndex]).html()] = $(this).val();

    //        } else { myRows[index][$($headers[cellIndex]).html()] = $(this).html(); }









    //    });
    //});

    //items = [];
    
    
    //myObjt.myrows = myRows;
   
    //items.forEach(function (index) {




    //});

    console.log(myObjt);
    return false;

});
@*$(document).ready(submitForm);

function submitForm() {
    var roles = myObjt;

    jQuery.ajax({
        type: "POST",
        url: "@Url.Action("AddUser")",
        dataType: "json",
    contentType: "application/json; charset=utf-8",
    data: JSON.stringify(roles),
    success: function (data) { alert(data); },
    failure: function (errMsg) {
        alert(errMsg);
    }
})
}*@



    $(function () {
        $('#cl').click(function (e) {

            if (TableData.length == 0) {
                alert("you have not choose any of item"+TableData.length);
                return false;
            }
            var jsonObject = {
                "Name": "Rami",
                
                "Depart": "Science",
                
                "Roles": [{ "RoleName": "Admin", "Description" : "Admin Role"}, { "RoleName": "User", "Description" : "User Role"}],
                //"Items": [{ "Item": "clips", "Quantity": "1" }, { "Item": "pen", "Quantity": "2" }]
              
                "Items": TableData
            };

            //var jsonObject = myObjt;

            $.ajax({
                url: "@Url.Action("AddUser")",
                type: "POST",
            data: JSON.stringify(jsonObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {
                //alert(response);
            }
        });

    });
    });
</script>



@*<script>
    $(function () {
        $('#cl,#addNew,.removebutton').click(function (e) {

            var jsonObject = {
                "Name": "Rami",
                
                "Depart": "Science",
                
                "Roles": [{ "RoleName": "Admin", "Description" : "Admin Role"}, { "RoleName": "User", "Description" : "User Role"}],
                //"Items": [{ "Item": "clips", "Quantity": "1" }, { "Item": "pen", "Quantity": "2" }]
              
                "Items": TableData
            };

            //var jsonObject = myObjt;

            $.ajax({
                url: "@Url.Action("AddUser")",
                type: "POST",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
            },
                success: function (response) {
                    alert(response);
                }
            });

        });
    });
</script>*@