@model IEnumerable<Team7ADProjectMVC.Supplier>

@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "List of Suppliers";
}

<button class="btn btn-primary" onclick="window.location.href='AddSupplier'">
    Create
</button>
<br />
<div>
    <table class="table">
        <tr>
            <th>
                Supplier Name (Supplier Code)
            </th>
            <th>
                Contact Person / Phone
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaxNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="Supplier/@item.SupplierId">
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName) (@Html.DisplayFor(modelItem => item.SupplierCode))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName) / @Html.DisplayFor(modelItem => item.PhNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaxNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
            </tr>
        }

    </table>
</div>
    <script>
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
    </script>

