@model Team7ADProjectMVC.Employee

@{
    Layout = "~/Views/Shared/_Layouthead.cshtml";
    Page.Title = "Delegate Acting Department-Head";
}

@*<script type="text/javascript">
        $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
    </script>*@

<form role="form" action="/Head/ManageDelegation">
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            Delegated to:<label value="employeeName">@ViewBag.emp </label><br />
        </div>
    </div>



    <table>
        <tr>
            <td>
                Start Date:
                <div style="overflow:hidden;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="datetimepicker1"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <br />
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br />
            </td>
            <td>
                End Date:
                <div style="overflow:hidden;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="datetimepicker2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>


    <br />
    <br />



    <div>
        <h5>

            Start Date:<label id="s1" value="startDate" >@ViewBag.s1</label><br />
            End Date::<label id="e1" value="endDate">@ViewBag.e1</label><br />

            <input type="hidden" name="startDate" id="startDate" />
            <input type="hidden"  name="endDate" id="endDate" /> 

        </h5 >

       <input type="hidden" value= "@ViewBag.delegateId"  name="DelegateId" />
        <input type="hidden" value="@ViewBag.empid  " name="empId" />
        
        

            @*@if (Request["DelegateID"].Equals(null) && Request["empId"].Equals(null))
            {
                <button type="submit" class="btn btn-danger btn-lg" name="status" value="Terminate">
                    Terminate
                </button>
            }
            else
            {*@
            <button type="submit" class="btn btn-success btn-lg" name="status" value="Update">
                Update
            </button>
            <button type="submit" class="btn btn-danger btn-lg" name="status" value="Terminate">
                Terminate
            </button>
                @*}*@
           



    </div>
</form>
    </>


<script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                inline: true,
                sideBySide: false,
                minDate: new Date()
            });
            $('#datetimepicker2').datetimepicker({

                inline: true,
                sideBySide: false,
                minDate: new Date()
            });

            $("#datetimepicker1").on("dp.change", function (date, e) {
                console.log($('#datetimepicker1').data("DateTimePicker").date());
                $('#startDate').val($('#datetimepicker1').data("DateTimePicker").date().format('DD/MM/YYYY').toString());
                $('#s1').text($('#datetimepicker1').data("DateTimePicker").date().format('DD/MM/YYYY').toString());
            });

            $("#datetimepicker2").on("dp.change", function (date, e) {
                console.log($('#datetimepicker2').data("DateTimePicker").date());
                $('#endDate').val($('#datetimepicker2').data("DateTimePicker").date().format('DD/MM/YYYY').toString());
                $('#e1').text($('#datetimepicker2').data("DateTimePicker").date().format('DD/MM/YYYY').toString());
            });
        });

</script>


