@model IEnumerable<Team7ADProjectMVC.PurchaseOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseOrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseOrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseOrderId })
        </td>
    </tr>
}

</table>
