@model IEnumerable<Team7ADProjectMVC.DisbursementList>

@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "View Disbursements";
    Employee currentEmployee = (Employee)Session["User"];
    Page.Employee = currentEmployee;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron row">
                <form role="form" action="SearchDisbursements">
                    <div class="col-md-6">
                        <select id="deptNdeliveryPicker" name="id"
                                class="selectpicker show-tick form-control"
                                data-live-search="true" title="Retrieve by department/delivery location. Leave blank to show all">
                            @foreach (var item in @ViewBag.Departments)
                            {
                                <option value="@item.DepartmentId">@item.DepartmentName </option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select id="statusPicker" name="status"
                                class="selectpicker show-tick form-control"
                                data-live-search="true" title="Status">
                            <option>Prepared</option>
                            <option>Pending</option>
                            <option>Complete</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" type="submit">
                            Search
                        </button>
                    </div>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Department
                        </th>
                        <th>
                            Delivery Location (Time)
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="clickable-row" data-href="ViewDisbursement/@item.DisbursementListId">
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.CollectionPoint.PlaceName) (@Html.DisplayFor(modelItem => item.Department.CollectionPoint.CollectTime))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>